Flask==3.0.3
Flask-Session==0.8.0
Flask-SocketIO==5.3.6
python-engineio==4.9.1
python-socketio==5.11.4
gevent==24.2.1
gevent-websocket==0.10.1
Werkzeug==3.0.3
python-dotenv==1.0.1
requests==2.32.3
kafka-python==2.0.2
